body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
input {
  width: 100%;
  padding: 10px;
  border: 1PX solid #5f9341;
  box-sizing: border-box;
}
button {
padding:10px 20px;
margin-top: 4px;
font-weight: bold;
background-color: #5f9341;
color: white;
border: none;

}
ul {
 list-style: none;
 padding-left: 0;
 

}
li {
margin-top: 5px;

}
a {
    color: #5f9341;
}